* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.travel-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.travel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.travel-location {
   display: flex;
}

.travel-location .loction-logo {
  width: 7px;
  height: 9.55px;
  color: #b62626;
  margin: 3px;
  align-items: baseline;
}

.travel-location .location {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
  margin-top: 3px;
  align-content: center;
  padding: 3px;
}

.travel-body .description {
  width: 326px;
  height: 45px;
  left: 184px;
  top: 203px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
}

.travel-body .date {
  position: absolute;
  width: 319px;
  height: 11px;
  left: 184px;
  top: 183px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
}

.nav--logo {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #b62626;
}

.nav--logo img {
  width: 24px;
  height: 24px;
  left: calc(50% - 24px/2 - 50px);
  top: calc(50% - 24px/2 - 324px);
  background: #a39393;
}

.nav--logo h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
  padding: 4px;
}