* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.travel-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 5px;
}

.travel-info {
  display: flex;
  flex-direction: column;
}

.travel-location {
   display: flex;
}

.travel-location .loction-logo {
  width: 12px;
  color: #b62626;
  margin: 3px;
  align-items: baseline;
}

